* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0.5rem;
	height: 100%;
}

body {
	font-size: 1rem;
	background: #fff;
}

section {
	display: flex;
	height: 100%;
	flex-direction: column;
}

h1 {
	margin: 0 0 1rem 0;
}

p, input {
	font-size: inherit;
}

#txt {
	flex: 1;
	height: auto;
}

#txt div {
	background: #eee;
}

#txt div:nth-child(2n) {
	background: #ddd;
}


